<% if article.is_a? Hash
        h = article
%>
    <div>
        <%= image_tag h['urlToImage'], size: "350x250" %>
        <strong>­ЪЊ░ <%= link_to h['title'],h['url'] %></strong>
        (<%= h['publishedAt'].to_date %>)
        <i><%= h['description'] %></i>
    </div>
<% else %>
    ­Ъци­ЪЈ╝РђЇРЎђ№ИЈ Article not found, sorry ­Ъци­ЪЈ╝РђЇРЎђ№ИЈ
    <%= article.class %>
<% end %>
