
<footer class="flex justify-between px-4 py-2 bg-gray-800 text-gray-100 text-sm">
  <span>&copy; <%= APP_NAME %> v<%= APP_VERSION %></span>

  <%= render partial: 'layouts/latest_article_info' rescue "LatestArticleInfoError('#{$!}')" %>
  <%#= render partial: 'layouts/latest_article_info' %>

  <%= link_to "ðŸ­ PROD App", 'https://gemini-news-crawler-dev-x42ijqglgq-ew.a.run.app/' %>

  <span>Env: <b><%= Rails.env %></b></span>
</footer>
