<h1 class="font-bold text-4xl" ><%= Article.emoji %><%= article.title %></h1>

<div class="rounded-md p-4 mb-4 decoration-zinc-300 underline decoration-2 indent-1.5	">
  <% @categories.each do |cat| %>
    <%= render_fancy_category(cat) %>
  <% end %>
</div>

<div>
  <%= render 'articles/similar_articles', article: article %>
</div>
<div>
  <%= render 'articles/fancy_card', article: article %>
</div>
<div>
  <%= render 'articles/fancy_article', article: article %>
</div>
<div id="<%= dom_id article %>">
  <%= render_prose article.interesting_attributes.to_s.gsub(', "', ", \n\"") %>
</div>

<!--
<div id="<%= dom_id article %>_ugly">
  <%= render 'articles/article_ugly', article: article %>
</div>
-->
