<% if article.is_a? Article
    h = article
    # copied from _demo_news_retrieval_article.html
%>
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <div class="p-4">
      <h2 class="text-xl font-semibold mb-2">
        <%= link_to article.title, article.link, class: "hover:underline" %>
      </h2>

      <div class="flex mb-2">
        <% if article.image_url %>
          <img src="<%= article.image_url %>" alt="Article Image" class="w-32 h-32 object-cover rounded-full mr-2">
        <% end %>
          <div class="flex-col">
          <span class="text-sm text-gray-500 block">
            <%= article.published_date.to_date %>
            - <i><%= article.author if article.author %></i>
            (from <b><%= link_to article.newspaper, "/articles?newspaper=#{article.newspaper}" %></b>)
          </span>
          <p class="text-gray-700"><small><%= ActionView::Base.full_sanitizer.sanitize article.summary %></small></p>
        </div>
      </div>
      <p class="text-gray-700"><%= ActionView::Base.full_sanitizer.sanitize article.content %></p>
    </div>

    <!-- Tags/categories -->
    <div class="rounded-md p-4 mb-4 decoration-zinc-300 underline decoration-2 indent-1.5 flex flex-wrap">
      <% article.categories.each do |cat| %>
        <span class="font-mono">
          <%= render_fancy_category(cat) %>
        </span> <% end %>
    </div>

  </div>
  <% else %>
  <div class="bg-white rounded-lg shadow-md overflow-hidden p-4">
    <p class="text-gray-700">­Ъци­ЪЈ╝РђЇРЎђ№ИЈ Article not found, sorry ­Ъци­ЪЈ╝РђЇРЎђ№ИЈ</p>
    <p class="text-sm text-gray-500"><%= article.class %></p>
  </div>
<% end %>
