<% 
  @article_regions ||= Article.pluck(:macro_region).uniq
%><!-- <div class="w-full w-2/3"> -->
<div class="w-2/3">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
      </p>
    <% end %>
    <!-- ;link which works -->
    <div class="flex justify-between mb-4">
      <%= link_to 'All', "/articles",
        class: "bg-blue-100 text-green-700 px-4 py-2 rounded-md hover:bg-green-200"
      %>
      <% @article_regions.each do |region| %>
          <%= link_to region,
                "/articles?macro_region=#{region}&filter=all",
                class: "bg-blue-100 text-green-700 px-4 py-2 rounded-md hover:bg-green-200"
          %>
      <% end if @article_regions %>
    </div>

    <!-- button which doesnt work yet, needs AJAX and JS -->
    <div class="flex justify-between mb-4">
      <button type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md active:bg-gray-300" data-region="all" >
        <b>🆕Recent (TODO)</b>
      </button>
      <% @article_regions.each do |region| %>
        <!--
          <button
            type="button"
            class="bg-blue-100 text-blue-700 px-4 py-2 rounded-md hover:bg-blue-200"
            data-region="<%= region %>"
          >🆕<%= region %> (::_RECENT_)</button>
        -->
          <%= link_to "🆕#{region}",
          "/articles?macro_region=#{region}&filter=recent",
          class: "bg-blue-100 text-blue-700 px-4 py-2 rounded-md hover:bg-blue-200"
          %>
      <% end if @article_regions %>
    </div>

    <!-- Articles -->

    <div class="grid grid-cols-auto gap-4">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl"><%= Article.emoji %><%= @articles.count %> latest cached Articles (of <%= @article_total_count %>)</h1>
    </div>

    <!-- articles-container comes from Gemini who gave me some JS to get this all selected upon button clicking .. -->
    <div id="articles" class="min-w-full articles-container">

      <%#= render partial: 'articles/index_floating_ten' %>

      <%#= render @articles %>
      <%#= render partial: "article_sober", collection: @articles %>
      <% @articles.each do |article| %>
          <%= render "article_sober", article: article %>
      <% end %>

    </div>


</div>
