<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= article.summary %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= article.link %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= article.published_date %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= article.image_url %>
  </p>

  <p>
    <strong>Feed url:</strong>
    <%= article.feed_url %>
  </p>

  <p>
    <strong>Guid:</strong>
    <%= article.guid %>
  </p>

  <p>
    <strong>Hidden blurb:</strong>
    <%= article.hidden_blurb %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= article.language %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= article.active %>
  </p>

  <p>
    <strong>Ricc internal notes:</strong>
    <%= article.ricc_internal_notes %>
  </p>

  <p>
    <strong>Ricc source:</strong>
    <%= article.ricc_source %>
  </p>

</div>
